.NavBar {
   display: flex;
   gap: 20px;
}

.NavBar-option {
   padding-bottom: 5px;
   border-bottom: 2px solid transparent;
   transition: 0.3s ease all;
	cursor: pointer;
	color: var(--black);
}

.NavBar-option:hover {
   border-bottom: 2px solid var(--primary);
}
