.nav-bar {
   display: flex;
   gap: 20px;
}

.nav-bar p {
   padding-bottom: 5px;
   border-bottom: 2px solid transparent;
   transition: 0.3s ease all;
	cursor: pointer;
}

.nav-bar p:hover {
   border-bottom: 2px solid var(--primary);
}
