.AddToBagButton {
	font-family: "Quicksand";
	padding: 10px 15px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	width: 100%;
	transition: 0.3s ease all;
}

.AddToBagButton svg {
	margin-right: 10px;
}

.AddToBagButton.cinnamon {
	background: var(--cinnamon);
}

.AddToBagButton.cinnamon {
	background: var(--cinnamon);
}

.AddToBagButton.violet {
	background: var(--violet);
}

.AddToBagButton.copper {
	background: var(--copper);
}