.Logo {
	display: flex;
	align-items: center;
}

.Logo-image {
   width: 60px;
   vertical-align: top;
}

.Logo-name {
   font-family: "Montserrat";
   font-weight: 800;
   font-size: 32px;
	color: var(--primary);
}
