.Select {
   position: relative;
   padding-top: 25px;
}

.Select-field {
   font-family: "Quicksand";
   padding: 10px;
   border: 2px solid var(--primary);
   border-radius: 3px;
   background: var(--white);
   color: var(--black);
   
}

.Select-field:focus {
   border-color: var(--zomp);
   background: var(--primary);
   color: var(--white);
}

.Select-field:focus .Select-option {
   color: var(--white);
}

.Select-field:focus + .Select-label {
   background: var(--zomp);
   color: var(--white);
}

.Select-label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 0 10px;
   border-radius: 3px;
   color: var(--gray);
   transition: 0.3s ease all;
}
